<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.friends.dao.DynamicCollectMapper">

    <sql id="Base_Column_List">
        id,
		dyna_id as dynaId,
		user_id as userId,
		collect_time as collectTime
    </sql>

    <sql id="userOrganizationJoins">
    </sql>

    <select id="findDynamicCollectList" resultType="com.friends.entity.DynamicCollect">
        select
        <include refid="Base_Column_List"/>
        from fc_dynamic_collect
       <where>
       	del_flag=0 
       	<if test="dynaId!=null">
       		and dyna_id = #{dynaId}
       	</if>
       	<if test="userId !=null">
       		and user_id = #{userId}
       	</if>
       </where>
       order by collect_time desc
    </select>
    
    <select id="findCollectBy" resultType="com.friends.entity.DynamicCollect">
        select
        <include refid="Base_Column_List"/>
        from fc_dynamic_collect
       <where>
       		del_flag=0 and user_id = #{userId} and dyna_id = #{dynaId}
       </where>
    </select>
    
    <select id="findDynaIdByUser" resultType="java.lang.Long">
        select
        	dyna_id as dynaId
        from fc_dynamic_collect
       <where>
       		del_flag=0 and user_id = #{userId}
       </where>
    </select>
    
    <insert id="insert">
        insert into fc_dynamic_collect (
	        id,
			dyna_id,
			user_id,
			collect_time
        )value(
            #{id},
            #{dynaId},
            #{userId},
            #{collectTime}
        )
    </insert>

    <update id="deleteDynamicCollectById">
         update fc_dynamic_collect
        set del_flag = ${delFlag},del_time=${delTime}
        <where>
            id = #{id}
        </where>
    </update>


</mapper>
